body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

   
}
.barra_superior {
    background-color: white;
    height: 100px;
    width: 100%;
}

main{
    width:980px;
    position:relative;
    margin: 0 auto;
}

.titulo {
    padding:16px;
    width:50%;
    float:left;
    font-size: 30px;
 

}
.slogan {
    float:right;
    width:30%; 
    font-size: 15px; 
}

.corpo {
    background-color: teal;
    height: 545px;
    
}

.texto{
    margin: auto ;
    margin-right: auto;
    width: max-content;
    text-align: justify;
    font-size: 17px;
  
    
}

.texto{
    margin: auto ;
    margin-right: auto;
    width: max-content;
    text-align: justify;
    font-size: 17px;

}